@charset "utf-8";
/***
Style sheet template for all web sites
****/
/*Fix display for old browsers*/
header, nav, footer, section, article, aside{
	display:block;
}
/*Reset Browser Defaults*/
body, div, header, nav, footer, section, article, aside, h1, h2, h3, h4, h5, h6, p, ul, ol, li{
	margin:0;
	padding:0;
}
body{
	background-color:#fff;
	color:#000;
	font-size:14px;
	font-family:Arial;
	text-decoration:none;
}